.App {
  margin: 0%;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.page-content {
  display: grid;
  place-items: center;
  grid-gap: 0rem;
  padding: 0rem;
  /* max-width: 1500px; */
  margin: 1%;
  font-family: var(--font-sans);
}
@media (min-width: 700px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1300px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

body {
  background: rgb(89, 131, 196);
  background: linear-gradient(
    194deg,
    rgba(89, 131, 196, 1) 0%,
    rgba(162, 59, 173, 1) 49%,
    rgba(58, 73, 166, 1) 100%
  );
  color: blanchedalmond;
}
